@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}
body {
  background: #0d0d16;
}
h1{
  text-align: center;
  color: #fff;
  margin: 15px;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin:35px; */
  gap: 2px;
}
.box .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .row .btn{
  width: 75px;
  height: 75px;
  border: 1px solid #333;
  text-align: center;
  border-radius: 5px;
  font-size: 50px;
  font-weight: 500;
  margin: 2px;
  transition: .2s ease;
}
.box .row .btn:hover{
  cursor: pointer;
  background: rgb(80,80,800);
}
.box .row .btn:disabled{
  color: #000;
  cursor: no-drop;
}
.result,
.reset{
  text-align: center;
  color: #fff;
}
.resetBtn{
  background: rgb(80,80,800);
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 30px;
  color: #fff;
  font-size: 18px;
  margin: 35px;
  transition: .3s all ease-in-out;
}
.resetBtn:hover{
  background: #fff;
  color: rgb(80,80,800);
}
